
 
/*Browse Publication  Pagination style */

.pagination {
    margin: 20px 0;
}

    .pagination ul {
        padding-left: 0;
        display: inline-block;
        *display: inline;
        margin-bottom: 0;
        margin-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        *zoom: 1;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

        .pagination ul > li {
            display: inline;
        }

            .pagination ul > li > a,
            .pagination ul > li > button,
            .pagination ul > li > span {
                float: left;
                padding: 4px 12px;
                line-height: 20px;
                text-decoration: none;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                border-left-width: 0;
            }

                .pagination ul > li > a:hover,
                .pagination ul > li > button:hover,
                /*.pagination ul > .active > a,
                .pagination ul > .active > button,*/
                .pagination ul > .active > span {
                    background-color: #f5f5f5 !important;
                    color:#36c !important;
                }

        .pagination ul > .active > a,
        .pagination ul > .active > button,
        .pagination ul > .active > span {
            background-color: #4f80e4;
            border-color: #4f80e4;
            color: #fff;
            cursor: default;
        }

        .pagination ul > .disabled > span,
        .pagination ul > .disabled > a,
        .pagination ul > .disabled > a:hover,
        .pagination ul > .disabled > button,
        .pagination ul > .disabled > button:hover  {
            color: #999999;
            cursor: default;
            background-color: transparent;
        }

        .pagination ul > li:first-child > a,
        .pagination ul > li:first-child > button,
        .pagination ul > li:first-child > span {
            border-left-width: 1px;
            -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            -moz-border-radius-topleft: 4px;
        }

        .pagination ul > li:last-child > a,
        .pagination ul > li:last-child > button,
        .pagination ul > li:last-child > span {
            -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -moz-border-radius-bottomright: 4px;
        }

.pagination-centered {
    text-align: center;
}


.pagination-left {
    text-align: left;
}

.pagination-right {
    text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > button,
.pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > button,
.pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > button,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > button,
.pagination-small ul > li:first-child > button,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > button,
.pagination-small ul > li:last-child > button,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > button,
.pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > button,
.pagination-mini ul > li > span {
    padding: 1px 6px;
    font-size: 10.5px;
}
/* wrap text in column */
.wrapText {
    width: 300px;
    word-wrap: break-word;
}

.wrapTextpublications {
    width: 660px;
    word-wrap: break-word;
    margin-left: 11px;
}

.wrapTextor {
    width: 790px;
    word-wrap: break-word;
}

/* grid header background for suspicious references grid */
.group-header {
    background-color: #f3f3f3;
    cursor: pointer;
    text-align: center;
    border-top-width: 5px;
}

.mb0
{
    margin-bottom: 0;
}

.widthAuto {
    width: auto;
}


.paginationButton {
    float: left !important;
    padding: 4px 12px !important;
    line-height: 20px !important;
    text-decoration: none !important;
    background-color: #ffffff;
    border: 1px solid #dddddd !important;
    border-left-width: 0 !important;
    color: #36c;
    font-weight: 400 !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    text-decoration: none;
}